{% extends 'base.html' %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-purple-700 text-white my-6 px-4 py-2 rounded-lg w-full">Login</button>
    </form>
    <p class="mt-4 text-center">Don't have an account? <a href="{% url 'register' %}" class="text-purple-700">Register</a></p>
</div>
{% endblock %}
